.top-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-container .top-bar-button-container{
    float: right;
}

.top-bar-container .top-bar-button-container button{
    margin: 0 32px;
    min-width: 88px;
    min-height: 24px;
    background-color: black;
    color: white;
    border: none;
}

.top-bar-container .top-bar-button-container button:hover{
    cursor: pointer;
}

.top-bar-container .top-bar-button-container button:focus{
    outline-offset: 8px;
    outline: solid black 2px;
}